.heading-container {
    text-align: center;
    margin-top: 138px;
  }
  
  .main-heading {
    font-size: 5em;
    color: #590000;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .overview-section {
    background-color: #FE9BA1;
    color: white;
    padding: 20px;
    margin-top: 100px;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
  }
  
  .stages-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .stage-section {
    margin-bottom: 50px;
  }
  
  .stage-title {
    font-size: 2em;
    font-weight: bold;
    color: #8B0000;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .stage-title.active {
    color: #FE9BA1;
  }
  
  .deliverables-list {
    list-style-type: none;
    padding-left: 20px;
  }
  
  .deliverable-item {
    font-size: 1.2em;
    color: #8B0000;
    margin-bottom: 10px;
    position: relative;
  }
  
  .deliverable-item:before {
    content: '•';
    color: #8B0000;
    font-size: 1.5em;
    position: absolute;
    left: -20px;
  }
  