* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 20px;
    font-size: 6em;
    font-weight: bold;
  }
  
  p {
    position: absolute;
    top: calc(50% + 60px);
    left: 0;
    margin-left: 30px;
    font-size: 1em;
    font-weight: bold;
  }

  h2 {
    position: absolute;
    top: 30%;                  /* Vertically center */
    right: 0;                  /* Align to the right */
    transform: translateY(-20%); /* Adjust vertical centering */
    margin-left: 200px;
    font-size: 2.5em;
    max-width: 25vw;            /* Limit width to 50% of the viewport width */
    text-align: right;          /* Align the text to the right */
  }

  h3 {
    position: absolute;
    top: calc(30% + 5em);
    right: 0;
    margin-left: 200px;
    font-size: 3em;
    max-width: 25vw;
    text-align: right;
    font-weight: bold;
  }
