.home-container {
    position: relative;
    height: 100vh; 
    width: 100%;
    overflow: hidden; 
}

.particles-area {
    height: 100%; 
    width: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 0; 
    background: linear-gradient(to bottom, #a6262e, #ffffff); 
    overflow: hidden;
}

.centered-image-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.centered-image {
    max-width: 150vw; 
    max-height: 150vh; 
    width: 100%; 
    height: auto;
}

.secondpart {
    position: relative;
    z-index: 1; 
    background-color: white;
    width: 100%; 
    display: flex; 
    align-items: center; 
    margin: 0; 
    padding: 0;
}

.secondpart-image {
    width: 40%; 
    height: auto; 
    display: block; 
    margin-left: -100px; 
}

.text-box-container {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    width: 50%; 
    padding-left: 20px; 
    position: relative;
}

.text-box1 {
    font-size: 3em;
    margin-bottom: 10px; 
    width: 100%;
    text-align: center;
    color: #a6262e;
}

.text-box2 {
    margin-left: 350px;
    font-size: 2em;
    margin-bottom: 10px; 
    font-weight: bold;
    color: #94071a;
}

.image-container {
    position: relative;
    width: 500px; 
    height: 300px; 
}

.overlap-image {
    width: 250px; 
    height: auto; 
    position: absolute; 
}

.first-image {
    top: 0;
    left: -40px; 
    transform: rotate(-30deg); 
}

.second-image {
    left: 90px; 
    top: 20px;
    transform: rotate(45deg); 
}

.thirdpart {
    background-color: white; 
    position: relative;
    display: flex;
    justify-content: center; 
    height: 300px; 
    align-items: center; 
}

.textbox {
    width: 50%; 
    position: absolute;
    right: 10%; 
    text-align: center; 
    font-size: 4em;
    color: #333;
}

.fourthpart {
    position: relative;
    height: 300px; 
    width: 100%; 
    background-color: white; 
}

.right-image {
    position: absolute;
    top: 0; 
    right: 0; 
    width: 350px; 
    height: auto; 
    transform: rotate(75deg);
}

.fifthpart {
    position: relative;
    height: 300px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: white; 
    width: 100%;
}

.centered-textbox {
    font-size: 2em;
    text-align: center;
    color: #333;
    max-width: 50%;
    text-align: justify;
}

.sixthpart {
    position: relative;
    height: 300px; 
    width: 100%; 
    background-color: white;
}

.right-hugging-textbox {
    position: absolute;
    margin-top: 50px;
    right: 0; 
    padding: 20px;
    max-width: 700px; 
    text-align: right;
    font-size: 2em;
    color: #333;
}

.seventhpart {
    position: relative;
    height: 600px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 50px;
    background-color: white;
}

.left-textbox, .right-textbox {
    width: 45%; 
    font-size: 2em;
    color: #333;
}

.left-textbox {
    text-align: right; 
    font-weight: bold;
    color: #a6262e;
    font-size: 10em;
}

.right-textbox {
    text-align: justify; 
}

/* New Eighth part styling */
.eighthpart {
    position: relative;
    height: 300px; 
    width: 100%; 
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.eighth-textbox {
    font-size: 2em;
    text-align: center;
    color: #a6262e;
    max-width: 60%;
    font-weight: bold;
}
