/* Footer.css */

#unique-footer {
  background-color: #EAE9E9;
  padding: 0 0 5rem 0;
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
}

#unique-footer .sponsor-logo {
  margin: 0 auto;
  width: 180px; /* Ensure logos have a uniform size */
  height: auto;
  object-fit: contain;
}

.slick-slide {
  text-align: center;
}

/* Styling for carousel arrows */
.slick-prev, .slick-next {
  color: #790000;
}

.slick-prev:hover, .slick-next:hover {
  color: #d73a31;
}

#unique-footer h4 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #790000;
}

#unique-footer p {
  margin-bottom: 0.5rem;
  color: #790000;
}

#unique-footer .subfoot {
  color: lightblue !important;
  text-decoration: underline;
}

#unique-footer .contact-link {
  color: #4DB6E3;
  text-decoration: none;
}

#unique-footer .contact-link:hover {
  text-decoration: underline;
}

#unique-footer hr {
  border-color: rgba(255, 255, 255, 0.1);
  margin: 0;
}

#unique-footer .container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 30px;
  padding-bottom: 0;
}

#unique-footer .row {
  margin-bottom: 1.5rem;
}

#unique-footer .col {
  text-align: left;
}

#unique-footer img {
  max-width: 100%;
  height: auto;
}

#unique-footer .row.mt-4 .col-12 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

.queens-logo {
  width: 200px;
  height: auto;
  position: relative;
}

.bottom-right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  width: 100%;
}

.bottom-right-content .footer-text {
  text-align: right;
  font-size: 0.85rem;
  width: 1000px;
  margin-bottom: 0;
}
