.section-container {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  width: 100%;
  margin-bottom: 50px; /* Adds space between sections */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}
/* Workshop Section */
.workshop-section {
  background-color: #FE9BA1;
  color: white;
  padding: 20px;
  width: calc(100% - 50px);
  max-width: 1140px;
  margin-right: 0;
  box-sizing: border-box;
}
/* APSC 103 Section */
.apsc103-section {
  background-color: #FE9BA1;
  color: white;
  padding: 20px;
  width: calc(100% - 50px);
  max-width: 1140px;
  margin-top: 50px;
  margin-right: 0;
  box-sizing: border-box;
}
.section-navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
  box-sizing: border-box;
  padding-left: 300px;
}

.navbar-box {
  background-color: #980021;
  color: white;
  padding: 20px;
  max-width: 900px;
  margin-right: 0;
  box-sizing: border-box;
  border-radius: 50px;
  height: 500px;
}

.card-container {
  width: 900px; /* Make the card container 60% of the screen width */
  position: relative;
  right: 0;
  margin-left: 15vw; /* Align to the right side */
}

.custom-card {
  border-radius: 20px;
  margin-bottom: 20px; /* Space between the cards */
  width: 100%; /* Make each card fill the container's width */
  height: 70vh;
}

.center-title {
  text-align: center; /* Center the card title */
  margin-bottom: 20px; /* Add some space below the title */
}

.text-container {
  display: flex;
  justify-content: center; /* Vertically center the text */
  align-items: center;
}

.card-wrapper {
  position: relative;
}