.workshop-section {
  background-color: #FE9BA1;
  color: white;
  padding: 20px;
  width: 1140px; 
  height: 250px;
  margin-bottom: 100px; /* Keep space between sections */
}

.apsc103-section {
  background-color: #FE9BA1;
  color: white;
  padding: 20px;
  width: 1140px; 
  height: 250px;
  margin-top: 50px; /* Adds space above */
  margin-bottom: 100px; /* Adds space below */
}
