@import url('../containers/App/App.css');

/* Style for items in the navbar */
.items {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-inline: 1rem;
    border: solid;
    border-color: rgba(212, 202, 202, 0.24);
    border-radius: 50px;
    background-color: var(--mexired);
}

/* Nav drop down icon */
.navbar-toggler-icon {
    width: 5vw;
    height: 5vh;
    background-image: url(https://static.igem.wiki/teams/5079/rose-logo.png);
}

/* Nav links */
.nav-link {
    color: rgb(252, 213, 213);
    --bs-nav-link-hover-color: rgb(250, 250, 250);
    font-size: large;
    font-weight: 500;
}

/* Full Navbar */
.full-navbar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 0s 1s;
}

.full-navbar.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in-out;
}

.full-navbar.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 0s 1s;
}

/* Placeholder Image */
.navbar-placeholder {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50px);
    z-index: 1000;
    cursor: pointer;
    transition: transform 1s ease-in-out;
}

.navbar-placeholder img {
    width: 50px; /* Adjust size */
    height: 50px; /* Adjust size */
}

/* Slide the placeholder to the left when the navbar is visible */
.navbar-placeholder.slide-left {
    transform: translateX(-43vw);   
}

/* Return the placeholder to the center when the navbar is hidden */
.navbar-placeholder.slide-center {
    transform: translateX(-48vw);   
}



