/* Contribution.css */
.overview-section {
    background-color: #FE99BA; 
    color: white;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .navbar img {
    width: 50px;
    margin-right: 20px;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-link {
    background-color: #590000;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
  
  .card {
    border-width: 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    justify-content: space-between;
  }
  
  .text-content {
    text-align: left;
    max-width: 600px;
  }
  
  .title {
    text-align: center;
  }
  
  .image-content img {
    width: 250px;
    height: 150px;
  }
  
  .contribution-heading {
    text-align: center;
    margin-top: 30px;
  }
  
  .contribution-heading h1 {
    font-size: 5em;
    color: #590000;
    font-weight: bold;
    letter-spacing: 2px;
  }
  